[Desktop Entry]
Name=GTK Youtube Viewer
Version=1.0
Comment=Search and play YouTube videos.
Exec=gtk-youtube-viewer
Icon=gtk-youtube-viewer
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;GTK;
